@using Inventario5.Models;

<fieldset class="form-group border p-2">
    <legend class="w-auto">@Titulo</legend>

    <div class="row">
        <div class="col"><h2>Lista</h2></div>
        <div class="col"><button class="btn btn-primary" @onclick="OnClickAnadir">Añadir</button></div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Tamaño pantalla</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in lItem) {
                Actual = item;
                <tr>
                    <td>@textoCodigo</td>
                    <td>@textoTamanoPantalla</td>
                    <td>
                        <button class=" btn btn-primary" @onclick="() => OnClickQuitar(item)">Quitar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</fieldset>

@code {
    [Parameter]
    public string Titulo { get; set; }
    [Parameter]
    public List<Monitor> lItem { get; set; }
    [Parameter]
    public Action Anadir { get; set; }
    [Parameter]
    public Action<Monitor> Quitar { get; set; }

    Monitor Actual;
    InventarioDBContext context = new InventarioDBContext();

    private string textoCodigo {
        get {
            //Al ser un "AsNoTracking" no carga el Actual.IdNavigation. Por lo tanto se lee el elementoInventariable por el código.
            return context.ElementoInventariables.Find(Actual.Id).Codigo?? "no definido";
        }
    }
    private string textoTamanoPantalla => Actual.TamanoPantalla != null ? Actual.TamanoPantalla.ToString() : "no definido";

    private void OnClickAnadir() {
        Anadir();
    }
    private void OnClickQuitar(Monitor item) {
        Quitar(item);
    }
}

