@page "/"
@inject NavigationManager NavigationManager
<h1>Título: Inventario Informático.</h1>
<h2> Proyecto de GRADO SUPERIOR DE DESARROLLO DE APLICACIONES WEB</h2>
<p>Centro: <strong>IES Rodeira</strong></p>
<p>Alumno: <strong>Gabriel Ibán Cruz Fraguela</strong></p>
<p>Dirigido por: <strong>Pablo Vázquez Fernández</strong></p>
<p>Curso: 2020 – 2021</p>


    @code

{
    }
