@page "/ProcesadorFL"
@inject NavigationManager NavigationManager
@using Inventario5.Data
@using Inventario5.Models
@using Microsoft.EntityFrameworkCore;
@using Inventario5.Shared.clases;

<h1>Procesadores</h1>


@if (lItem == null) {
    <p><em>Cargando...</em></p>
} else {
    <div class="container">
    <div class="row">
        <div class="col"><h2>Lista</h2></div>
                            
        <div class="col-auto"><NavLink class="btn btn-primary" href="ProcesadorFE/insert/0">Nuevo Procesador</NavLink></div>
    </div>
        <output>@mensaje</output>
        <table class="table">
            <thead>
                <tr >
                    <th >Nombre</th>
                    <th >Opciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in lItem) {
                    <tr>
                        <td >@item.Nomb</td>
                        <td >
                            @((MarkupString)On.generateButtons("Procesador",item.Id))

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}

@code {
    private DbSet<Procesador> lItem;
    private string mensaje = "";
    private InventarioDBContext context = new InventarioDBContext();

    protected override async Task OnInitializedAsync() {
        lItem = context.Procesadors;
    }
}
